@charset "UTF-8";

body {
  background-color: rgb(17, 66, 61);
  color: MediumSeaGreen;
  direction: ltr;
  min-height: 100vh;
  width: 100%;
  font-weight: normal;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.2em;
  font-size: 100%;
}

legend {
  color: snow;
}

button {
  text-align: center;
  display: inline-block;
  margin: 0 5px;
  padding: 0.5em;
  font-size: 100%;
  font-family: Arial, sans-serif;
  font-weight: bold;
  border-radius: 0.5em;
  border: 0.2em solid SlateGray;
  background-color: LightSeaGreen;
  color: AliceBlue;
}

button:hover {
  transition: border-color 0.15s ease-in-out 0s;
  border-color: MediumAquamarine;
  background-color: CadetBlue;
}

fieldset {
  display: inline-block;
  border-radius: 0.5em;
  border: 0.2em solid SlateGray;
  font-weight: bold;
  margin: 0.5em;
}

textarea,
input[type="text"] {
  text-align: left;
  direction: ltr;
  padding: 0.5em;
  margin: 0.5em;
  display: inline-block;
  border-radius: 0.5em;
  border: 0.1em solid Turquoise;
  background-color: lightcyan;
  color: Teal;
  font-family: Arial, sans-serif;
  font-size: 1em;
}

textarea:hover,
input[type="text"]:hover {
  border-color: LightSeaGreen;
  transition: border-color 0.15s ease-in-out 0s;
}

textarea:focus,
input[type="text"]:focus {
  border-color: wheat;
  box-shadow: 0 0.1px 0.1px rgba(0, 0, 0, 0.075) inset, 0 0 3px lightgreen;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.main {
  padding: 2em;
  display: block;
  margin: 0 auto;
  text-align: center;
}
